/* Header */
.main-header {
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.main-nav__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

/* Hero */
.hero {
  display: flex;
  height: 620px;
  justify-content: center;
  align-items: center;
}

.hero__content {
  width: 70%;
  max-width: 1140px;
  margin-bottom: 20px;
}

.hero__text {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
}

.hero__title {
  margin: 10px 0;
}

.hero__description {
  margin-bottom: 30px;
}

.hero__cta {
  display: inline-block;
}

/* Products List */

.collection {
  margin: 0 50px;
}

.collection__products {
  display: flex;
  justify-content: space-between;
}

.collection__product {
  flex-basis: 30%;
}

.product__image {
  width: 100%;
}

.product__title {
  margin: 10px 0;
}

.product__title,
.product__price {
  margin-left: 10px;
}
